.cards {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(6, 80px);
    gap: 20px; // Regular gap when modal is not open

    &__projects {
        transition: scale 0.2s ease;
        scale: 1; // Default margin
        
        img {
            opacity: 0; /* Hide the image initially */
            transition: opacity 2s ease-in; /* Smooth transition for the opacity change */
            cursor: pointer;
        }
    }

    &__projects:hover img {
        
        transition: opacity 0.05s ease-out;
        opacity: 1; /* Show the image on hover */
    }

    &.cards__modal-open &__projects {
        scale: 0; // Reduced margin when modal is open
    }
}

.cards__letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    height: 80px;
}


.cards li {
    background-color: gray;
    list-style-type: none;
}

.hiddenCard {
    width: 80px;
    height: 80px;
    display: flex;            /* Active Flexbox pour le conteneur */
    flex-direction: column;   /* Organise les enfants en colonne */
    justify-content: center;
    align-items: center;      /* Centre le contenu horizontalement */
    font-size: 100px;
}

.visible{
    background-color: white;
    color:white;
    transition: background-color 0.2s ease-in-out;
}

.visible:hover {
    background-color: gray;

}

.hidden{
    background-color: white;
}

