
.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    // background-color: green;

    &__head {
       
        margin:20px;
        font-size: 34px;
        display: flex;
        flex-direction: row;
        &-title {
            display: flex;
            flex-direction: column;  
            justify-content: flex-end; 
            align-items: left;
            height: 80px;
            width: 580px;
            // background-color: aqua;
        }
    }
    &__middle {
        display: flex;
        flex-direction: row;

        &-description {
            margin: 0 20px 0 20px;
            text-align: right;
            // background-color: beige;
            width: 100%;
        }

        &-description img {
            margin: 20px 0 0 0;
            width: 180px;
            border: 2px solid gray;
        }

        &-description p {
            font-size: 19px;
            margin: 10px 0 0 0;
          }

        &-cards {
            width: 620px;
        }

        &-divers {
            margin: 0 20px 0 20px;
            background-color: orange;
            width: 100%;
        }
    }
    &__down {
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        
        &-main {
        // background-color: aqua;
            width: 580px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            list-style-type: none;

            ul{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 71px;
                font-size: 19px;
            }

            li {
                // padding: 5px;
                cursor: pointer;
            }

            li:hover {
                background-color: black;
                color: white; 
            }

            &-job{
                margin-top: -6px;
                font-size: 34px;
            }
    }
        
    }
}