/* Styles for the modal overlay */
.ReactModal__Overlay {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    transform: scale(0.15);
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: scale(1);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: scale(0.15);
}

/* Styles for the modal content */
.modal-content {
    position: relative; /* Positioned relative to the flexbox overlay */
    width: 90%;
    height: 580px;
    border: 1px solid #ccc;
    background: #eee;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    opacity: 1; /* Initial opacity, consider if this should be 0 */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 24px;
        line-height: 1;
        padding: 0;
        color: #aaa;

        &:hover {
            color: #f00;
        }
    }

    img {
        max-width: 320px;
        // max-height: 240px;
        width: auto;
        height: auto;
        margin: 10px;
        box-shadow: 0 10px 8px rgba(0,0,0,0.5);
    }

    p {
        margin: 10px 0;
    }
}

/* Specificity to ensure it overrides any default styling */
.modal-content.open {
    opacity: 1; /* Fully visible when open */
}
